src/main/resources/amountservice.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ws.soap.cxf.java.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="AmountServiceImplService" targetNamespace="http://ws.soap.cxf.java.com/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ws.soap.cxf.java.com/" elementFormDefault="unqualified" targetNamespace="http://ws.soap.cxf.java.com/" version="1.0">

  <xs:element name="addAmount" type="tns:addAmount"/>

  <xs:element name="addAmountResponse" type="tns:addAmountResponse"/>

  <xs:element name="substractAmount" type="tns:substractAmount"/>

  <xs:element name="substractAmountResponse" type="tns:substractAmountResponse"/>

  <xs:complexType name="substractAmount">
    <xs:sequence>
      <xs:element minOccurs="0" name="amountToSubstract" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="substractAmountResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="totalAmount" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addAmount">
    <xs:sequence>
      <xs:element minOccurs="0" name="amountToAdd" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addAmountResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="totalAmount" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="addAmountResponse">
    <wsdl:part element="tns:addAmountResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addAmount">
    <wsdl:part element="tns:addAmount" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="substractAmountResponse">
    <wsdl:part element="tns:substractAmountResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="substractAmount">
    <wsdl:part element="tns:substractAmount" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Amount">
    <wsdl:operation name="substractAmount">
      <wsdl:input message="tns:substractAmount" name="substractAmount">
    </wsdl:input>
      <wsdl:output message="tns:substractAmountResponse" name="substractAmountResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addAmount">
      <wsdl:input message="tns:addAmount" name="addAmount">
    </wsdl:input>
      <wsdl:output message="tns:addAmountResponse" name="addAmountResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AmountServiceImplServiceSoapBinding" type="tns:Amount">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="substractAmount">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="substractAmount">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="substractAmountResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addAmount">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="addAmount">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addAmountResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AmountServiceImplService">
    <wsdl:port binding="tns:AmountServiceImplServiceSoapBinding" name="AmountServiceImplPort">
      <soap:address location="http://localhost:8080/cxfsoapws/services/amountservice"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>